In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read data into DataFrame
crowdfunding_data = pd.ExcelFile('crowdfunding.xlsx')
crowdfunding_data.sheet_names

['crowdfunding_info', 'contact_info']

In [3]:
# Get crowdfunding_info
crowdfunding_info_df = pd.read_excel(crowdfunding_data, sheet_name='crowdfunding_info')
crowdfunding_info_df.head()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [5]:
# Get contact_info
pd.set_option('max_colwidth', 400)
contact_info_db = pd.read_excel(crowdfunding_data, sheet_name='contact_info', header=2)
contact_info_db.head()

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

In [6]:
contact_info_db.tail()

996                    {"contact_id": 3684, "name": "Whitney Noack", "email": "whitney.noack@laboratorios.org"}
997              {"contact_id": 5784, "name": "Gelsomina Migliaccio", "email": "gelsomina.migliaccio@junk.com"}
998   {"contact_id": 1498, "name": "Evangelista Pereira", "email": "evangelista.pereira@thompson-peterson.biz"}
999                        {"contact_id": 6073, "name": "Gareth Comolli", "email": "gareth.comolli@tiscali.fr"}
1000                {"contact_id": 4939, "name": "Michelangelo Hess", "email": "michelangelo.hess@bouygtel.fr"}

In [7]:
crowdfunding_info_df.tail()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
995,2986,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks
996,2031,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays
997,1627,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays
998,2175,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock
999,1788,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks

In [8]:
crowdfunding_info_df.sample(n=5)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
956,1475,Wood Inc,Re-engineered composite focus group,187600,35698,failed,830,US,USD,1597640400,1628139600,False,False,film & video/science fiction
191,3062,Sutton PLC,Mandatory reciprocal superstructure,8400,3188,failed,86,IT,EUR,1595653200,1620709200,False,False,theater/plays
267,1219,Acosta PLC,Extended eco-centric function,61600,143910,successful,2768,AU,AUD,1620450000,1632459600,False,False,theater/plays
638,221,Weaver Ltd,Monitored 24/7 approach,81600,9318,failed,94,US,USD,1586667600,1610604000,False,True,theater/plays
936,1303,Brown Ltd,Enhanced composite contingency,103200,1690,failed,21,US,USD,1599541200,1610344800,True,False,theater/plays

In [9]:
contact_info_db.sample(n=5)

155             {"contact_id": 2260, "name": "Steffen Mangold", "email": "steffen.mangold@paul.net"}
436                  {"contact_id": 5110, "name": "Meryem Tapia", "email": "meryem.tapia@yahoo.com"}
769            {"contact_id": 3558, "name": "Shannon Lefevre", "email": "shannon.lefevre@gmail.com"}
970                {"contact_id": 5036, "name": "Marisa Renaud", "email": "marisa.renaud@smith.org"}
721  {"contact_id": 6191, "name": "Slobodan Camiscione", "email": "slobodan.camiscione@hotmail.com"}

In [10]:
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   blurb                    1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_at              1000 non-null   int64
 10  deadline                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(6), object(6)
memory usage: 95.8+ KB

In [11]:
contact_info_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0           1001 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB